#page{
    background-color: #C8E6C9;
}
#sub-container{
    display: flex;
    flex-direction: row;
}

#sub-container_1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* To center-align text within the div */
    justify-content: center; /* To center vertically */
    height: 500px; 
}

#btn {
    background-color: blue; /* Set the background color to blue */
    font-size: large; /* Increase the font size to large */
    padding: 10px 20px; /* Add some padding for better appearance */
    color: white; /* Set the text color to white for better visibility */
    border: none; /* Remove the button border if desired */
    cursor: pointer;
}

#btn:hover {
    background-color: darkblue;
}

#sub-container_2{
    padding:20px;
}

#windy{
width: 100%;
}

#txt{
    font-weight: bold; font-size: 24px;
}

@media (max-width: 768px) {
    #sub-container{
        flex-direction: column;
    }
    #sub-container_1 {
        width: 100%;
    }
}
